/* coolors: https://coolors.co/e8e9f3-cecece-a6a6a8-272635-b1e5f2 */
html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #272635;
}

.wrapper {
    margin: auto;
    color: #e8e9f3;
    max-width: 450px;
    margin: 30px auto;
}

select {
    display: block;
    margin: auto;
}

h1, h2, h3 {
    text-align: center;
}

select {
    text-align: center;
}

.bicycle-info {
    margin: auto;
    color: #e8e9f3;
}

th {
    color: #a6a6a8;
    text-transform: uppercase;
}

tr {
    padding: 15px;
}

.part-name {
    text-transform: uppercase;
    font-weight: bold;
}

.hidden {
    display: none;
}

@media (min-width: 450px)
{
    .wrapper {
        max-width: 800px;
    }

    
}