/* coolors: https://coolors.co/e8e9f3-cecece-a6a6a8-272635-b1e5f2 */

body {
    background-color: #272635;
}

.wrapper {
    background-color: #a6a6a8;
    margin: auto;
    color: #e8e9f3;
    max-width: 800px;
    padding: 20px;
}

h1, h2, h3 {
    text-align: center;
}

select {
    text-align: center;
}

table {
    border: 2px solid black;
    margin: auto;
    padding: 10px;
}

th {
    color: black;
}

.part-name {
    text-transform: uppercase;
    font-weight: bold;
}